{% extends 'base.html' %}

{% block title %}Войти{% endblock title %}
{% block content %}
    <h2>Войти</h2>
    <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn btn-success ml-2" type="submit">Войти</button>
    </form>
{% endblock content %}