{% extends 'base.html' %}
{% block title %}ообщение успешно отправлено на указанный адрес!{% endblock title %}
{% block content %}
    <h1>Загляните в ваш почтовый ящик!</h1>
    <p>Мы отправили вам письмо с необходимыми инструкциями.Вероятно, оно уже пришло!</p>
{% endblock content %}