{% extends 'base.html' %}
{% block title %}Пароль успешно изменен!{% endblock title %}
{% block content %}
    <h1> Ваш пароль для входя в систему успешно изменен!</h1>
    <p>В случае непредвиденных ситуаций вы всегда можете изменить пароль снова!</p>
{% endblock content %}