{% extends 'base.html' %}
{% block title %}
Изменение пароля
{% endblock title %}
{% block content %}
    <h1>Изменение Пароля Пользователя</h1>
    <p>Пожалуйста, введите свой старый пароль. В целях безопасности мы просим вас ввести ваш новый пароль дважды</p>

    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type='submit' value='Изменить мой пароль'>
    </form>
{% endblock content %}


