{% extends 'base.html' %}
{% block title %}Забыли пароль?{% endblock title %}
{% block content %}
    <h1>В случае, если вы забыли(утратили) пароль от учетной записи пользователя</h1>
    <p>Вам необходимо указать действительный для данного сайта адрес электронной почты</p>
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input class = "btn btn-success" type="submit" value="Отправить мне все необходимые инструкции">
    </form> 
{% endblock content %}