{% extends 'base.html' %}
{% block title %}Завершение изменения пароля{% endblock title %}
{% block content %}
    <p>Ваш пароль успешно изменен!Вы можете перейти ко странице входа на сайт!</p>
    <p><a href="{% url 'login' %}">Войти</a></p>
{% endblock content %}