{% extends 'base.html' %}
{% block title %}ведите ваш новый пароль!{% endblock title %}
{% block content %}
    <h1>Ваш новый пароль готов? Тогда смело измените его!</h1>
    <form method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-success" type="submit" value="Измените скорее мой пароль!">
    </form>
{% endblock content %}