{% extends 'base.html' %}
{% block content %}
    <h1>Новая статья(новость)</h1>
    <form action='' method='post'>
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn btn-success ml-2' type='submit'>Сохранить и опубликовать на сайте</button>
    </form>
{% endblock content %}