{% extends 'base.html' %}
{% block title %}Новости{% endblock title %}
{% block content %}
    {% for article in object_list %}
        <div class='card'>
            <div class='card-header'>
                <span class='font-weight-bold'>{{ article.title }}</span>
                <span class='text-muted'>{{ article.author }} | {{ article.date }}</span>
                </div>
                <div class = 'card-body'>
                {{ article.body }}
                </div>
                <div class='card-footer text-center text-muted'>
                <a href='{% url "article_edit" article.pk %}'>Редактировать</a> | <a href='{% url "article_delete" article.pk %}'>Удалить</a>
            </div>
                <div class="card-footer">
    {% for comment in article.comments.all %} 
        <p>
            <span class="font-weight-bold">
                    {{ comment.author }} 
            </span>
                {{ comment }} 
        </p> 
    {% endfor %} 
                </div>
            </div>
    {% endfor %}
{% endblock content %}