{% extends 'base.html' %}
{% block content %}
    <div class = 'article-entry'>
        <h2> {{ object.title }}</h2>
        <p>от {{ object.author }} | {{ object.date }}</p>
        <p>{{ object.body }}
    </div>
    <p><a href="{% url 'article_edit' article.pk %}">Редактировать новость</a> | <a href="{% url 'article_delete' article.pk%}">Удалить новость</a></p>
    <p>Вернуться к списку новостей<a href={% url 'article_list' %}>Все новости</a></p>
{% endblock content %}