{% extends 'base.html' %}
{% block content %}
    <h1>Удалить новость</h1>
    <form action='' method='post'>
    {% csrf_token %}
        <p> Вы уверены, что новость "{{ article.title }}" не достоверна и ее нужно удалить?</p>
        <button class='btn btn-danger ml-2' type='submit'>Подтвердить</button>
    </form>
{% endblock content %}