{% extends 'base.html' %}

{% block content %}
    <h1>Редактировать новость</h1>
    <form method='post' action=''>
    {% csrf_token %}
    {{ form.as_p }}
    <button class='btn btn-info ml-2' type='submit'>Редактировать</button>
    </form>
{% endblock content %}