<html>
    <head>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
        <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- JavaScript Bundle with Popper -->

        <title>Новости астрономии</title>
    </head>
    <body>
   <nav class="navbar navbar-expand-md navbar-dark bg-dark mb- ">
        <a class="navbar-brand" href="{% url 'home' %}">Новости Астрономии</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
{% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a href='{% url "article_new" %}'>Добавить статью</a>
            <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                <a class="dropdown-item" href="{% url 'password_change' %}">Изменить пароль</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                </div>
        </li>
    </ul>
{% else %}
    <form class="form-inline ml-auto">
        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Войти
            </a>
        <a href="{% url 'signup' %}" class="btn btn-primary ml- ">Регистрация</a>
    </form>
{% endif %}
            </div>
        </nav>
    <div class="container">
{% block content %}
{% endblock %}
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js">
</script>
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>   
    </body>
</html>