{% extends 'base.html' %}

{% block title %}
Главная 
{% endblock title %}
{% block content %}
    <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Посмотреть все статьи</a>
</p>
    {% if user.is_authenticated %}
        Привет {{ user.username }}!
        <p><a href="{% url 'logout' %}">Выйти</a></p>
    {% else %}
        <p>Вы не вошли в систему</p>
        <a href="{% url 'login' %}">Войти</a> |
        <a href="{% url 'signup' %}">Зазеригстрироваться</a>
    {% endif %}
{% endblock content %}