{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Страница регистрации{% endblock title %}
{% block content %}
    <h2>Зарегистрироваться</h2>
    <form method='post'>
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Зарегистрироваться</button>
    </form>
{% endblock content %}